
@import "tailwindcss";
.app-background{
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: hsla(210, 67%, 79%, 1);

background: #A4C8ED;
background: linear-gradient(180deg, rgba(164, 200, 237, 1) 0%, rgba(249, 249, 246, 1) 25%, rgba(255, 238, 139, 1) 50%, rgba(249, 249, 246, 1) 75%, rgba(164, 200, 237, 1) 100%);
}