
@import "tailwindcss";
.app-background {
  min-height: 100vh;
  height: auto;
  background: linear-gradient(
    180deg,
    rgba(164, 200, 237, 1) 0%,
    rgba(249, 249, 246, 1) 25%,
    rgba(255, 238, 139, 1) 50%,
    rgba(249, 249, 246, 1) 75%,
    rgba(164, 200, 237, 1) 100%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
